.nav {
    grid-area: n;
    background: linear-gradient(to top, #22313b, #052f49);
    padding: 20px;
    font-size: 25px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}