.dialogs {
    display: grid;
    grid-template-columns: 2fr 3fr;

}
.dialogsItem {
    padding: 20px;
    margin-left: 20px;
}

.dialogsItem .active {
    color: gold;
}

.dialog {

}
.messages {
    padding: 20px;
}
.message {
    padding: 10px;
}
